/* --------------------- */
/*   Custom properties   */
/* --------------------- */

:root {
  /* colors */
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Gray: hsl(0, 0%, 50%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  /* font-sizes */

  --fs-large: 2.8rem;
  --fs-medium: 2.5rem;
  --fs-xmedium: 1.3rem;
  --fs-xsmall: 0.7rem;

  /* letter spacing */
  --tracking-normal: 0;
  --tracking-wide: 0.02em;
  --tracking-very-wide: 0.08em;
  --tracking-tight: -0.02em;

  /* font-families */
  --ff-alata: "Alata", sans-serif;
  --ff-josefins: "Josefin Sans", sans-serif;

  /* font weights */
  --fw-bold: 300;
  --fw-bolder: 400;
}

/*----------------Custom scrollbar--------------- */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--Gray);
}

/* ::-webkit-scrollbar-button{
  
  } */
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--White);
  border: 1px solid var(--Dark-Gray);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--Dark-Gray);
}

/* ------------------- */
/*     Reset Class     */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: all 0.35s linear; */
  list-style: none;
  text-rendering: optimizeSpeed;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

p,
span {
  display: inline;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  display: inline;
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*      MAIN CODE      */
/* ------------------- */

body {
  min-height: 100vh;
  background-color: var(--clr-lgb);
  animation-name: opacity;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

a {
  color: var(--White);
}

/* -----------------------------HEADINGS-------------------------- */

/* all heading style */
h1,
h2,
h3 {
  font-family: var(--ff-josefins);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

/* -----------------------------MAIN CONTAINER---------------------------- */

.main-container {
  background: var(--White);
}

/* -----------------------------HEADER---------------------------- */

/* header section style */

header,
.about,
.slides,
footer {
  position: relative;
  padding: 3.8rem 9rem;
}

header {
  background: url(../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  background-size: center top;
}

/* navbar section */

.navbar {
  /* max-width: 1440px; */
  margin-bottom: 8.25rem;
}

.menu {
  gap: var(--gap, 2.2rem);
}

footer ul,
.menu {
  font-weight: bolder;
}

.nav__li-items,
.footer__li-items,
footer .social-media i {
  position: relative;
}

.nav__li-items::after,
.footer__li-items::after,
i::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 0;
  border-radius: 0.5rem;
  transform: translateX(-100%);
  background-color: var(--White);
}

.nav__li-items:hover::after,
.footer__li-items:hover::after,
footer .social-media i:hover::after {
  transition: height 0.4s ease;
  height: 2.5px;
}

.logo:hover {
  transform: rotate(-3deg);
  transition: transform 0.4s linear;
}

/* navbar section-mobile */
.mob-nav-brand {
  display: none;
  cursor: pointer;
}

/* navtoggler */
.nav-toggler {
  display: none;
  cursor: pointer;
}

/* banner section style */

.banner {
  max-width: 40rem;
  color: var(--White);
  border-radius: 0.5rem;
  border: 2px solid var(--White);
  border-radius: 2rem 0.3rem;
  padding: 2rem 3rem;
  margin-bottom: 5rem;
}

/* -----------------------------ABOUT---------------------------- */
.about {
  max-width: 90rem;
  padding-top: 9rem;
}

.img-box,
.img-box__image {
  border-radius: 2rem 0.3rem;
}

.content-box {
  position: absolute;
  top: 21.875rem;
  left: 50%;
  padding: 5.9rem;
  max-width: 39rem;
  width: 57%;
  background: var(--White);
  border-radius: 2rem 0.3rem;
}

.content-box__description {
  color: var(--Dark-Gray);
}

.content-box__heading {
  margin-bottom: 2.1rem;
}

/* -----------------------------Slides---------------------------- */
.slides {
  padding-bottom: 9rem;
}

.btn-desktop,
.btn-mobile {
  color: var(--Black);
  letter-spacing: 6px;
  border: 1px solid black;
  padding: 0.875rem 2.5rem;
  max-width: 10rem;
  border-radius: 1rem 0.1rem;
}

.btn-desktop:hover,
.btn-mobile:hover {
  cursor: pointer;
  background: var(--Black);
  color: var(--White);
  transition: all 0.4s ease;
}

.btn-desktop:active,
.nav__li-items:active,
.footer__li-items:active,
i:active {
  transform: scale(0.8);
  transition: transform 0.7s linear;
}

.slide__heading {
  align-items: center;
}

.slide-box__col,
.slide-box__col-img {
  border-radius: 1.5rem 0.2rem;
}

.slide-box__col {
  position: relative;
}

.overlay-white {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1.5rem 0.2rem;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 40%,
    rgba(0, 0, 0, 0.6) 80%
  );
  transition: background 0.5s;
  opacity: 0.6;
}

.slide-box__col:hover .overlay-white {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 1.5rem 0.2rem;
  background: none;
  background-color: white;
  opacity: 0.6;
  transition: background 0.2s ease;
}

.overlay-txt {
  position: absolute;
  transform: translateY(-70px);
  color: var(--White);
  padding-inline: 2.5rem;
  z-index: 1;
}

.slide-box__col:hover .overlay-txt {
  color: var(--Black);
}

.slide-box__col {
  overflow: hidden;
}

.slide-box__col {
  box-shadow: -7px -7px 0px 0px #0000001b;
}

.slide-box__col:hover {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.slide-box__col:hover img {
  transform: scale(1.08);
  transition: transform 0.4s ease;
}

.slide-box__desk,
.slide-box__row,
.slide-box__mob {
  gap: var(--gap, 1.875rem);
}

.third_page {
  gap: var(--gap, 4rem);
}
.btn-mobile {
  display: none;
}

/* -----------------------------Footer---------------------------- */

footer {
  background: var(--Black);
}

.last-page {
  gap: var(--gap, 1.625rem);
}

.footer__logo {
  max-width: 80%;
}

.footer__content {
  align-items: center;
}

.footer__links {
  color: var(--White);
}

.links-list {
  gap: var(--gap, 1.8rem);
}

.copyright {
  text-align: right;
  color: var(--Very-Dark-Gray);
}

/* social icons section style */

.social-icons {
  position: relative;
  right: 0;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.insta,
.twitter,
.pinterest {
  color: var(--White);
  font-size: 1.6rem;
}

.fb {
  font-size: 1.6rem;
}

/* ------------------- */
/*     Animations      */
/* ------------------- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------------- */
/*  Media Queries         */
/* ---------------------- */

/* ---------------------- */
/*  Mobile + tab Version  */
/* ---------------------- */

/* >1230px */
@media (max-width: 77rem) {
  header,
  .about,
  .slides,
  footer {
    position: relative;
    padding: 3.5rem 7rem;
  }

  .mob-nav-brand {
    display: none;
  }

  /* -----------------------------ABOUT--------------------------- */
  .content-box {
    width: 48%;
    top: 19.6rem;
    left: 45%;
    padding: 2.8rem 2.6rem 0.2rem;
  }

  /* -----------------------------SLIDES---------------------------- */

  .slides {
    text-align: center;
  }
  .overlay-txt {
    padding-inline: 1rem;
  }
}

/* ->- */
@media (max-width: 62rem) {
  :root {
    /* font-sizes */
    --fs-large: 2.6rem;
    --fs-medium: 2.4rem;
    --fs-xmedium: 1.3rem;
    --fs-small: 1.1rem;
  }

  header,
  .about,
  .slides,
  footer {
    position: relative;
    padding: 2rem 1.875rem;
  }

  /* -----------------------------HEADER---------------------------- */
  header {
    padding-top: 3.5rem;
    background: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-size: center top;
  }

  .logo {
    width: 12rem;
  }

  .banner {
    /* margin-bottom: 15rem; */
    padding: 2rem;
  }

  /* -----------------------------ABOUT---------------------------- */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 6rem;
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-box {
    margin: auto;
    position: static;
    transform: none;
    max-width: 100%;
    padding: 2rem 1rem 0.2rem;
    width: 95%;
  }

  .slide__heading h2 {
    margin-bottom: 0.8rem;
    text-align: center;
  }

  /* -----------------------------SLIDES---------------------------- */
  .slide__heading {
    flex-direction: column;
  }

  .third_page {
    gap: var(--gap, 2rem);
  }

  .btn-desktop {
    display: none;
  }

  .btn-mobile {
    display: flex;
    margin-bottom: 4rem;
    padding: 0.7rem 2rem;
  }

  /* -----------------------------MOBILE---------------------------- */
  .mob-nav-brand {
    position: absolute;
    right: 2.06rem;
    left: 1.8125rem;
    top: 3.5rem;
    align-items: center;
    z-index: 11;
  }

  .mob-logo {
    max-width: 100%;
  }

  .navbar__nav {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    /* left: -100%; */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--Black);
    padding: 1.5635rem;
    z-index: 10;
    transition: 0.25s;

    /* Glassmorphism */
    /* backdrop-filter: blur(30px);
    background-color: rgba(69, 71, 67, 0); */
  }

  .menu {
    flex-direction: column;
    gap: var(--gap, 1.5625rem);
    padding-top: 6rem;
  }

  .nav__li-items a {
    font-family: var(--ff-josefins);
    font-size: 1.5635rem;
    text-transform: uppercase;
  }

  .nav__li-items::after {
    display: none;
  }

  .nav-toggler {
    display: block;
    z-index: 9;
  }

  /* -----------------------------FOOTER---------------------------- */
  .footer__content {
    flex-direction: column;
    gap: var(--gap, 1rem);
  }

  .footer__logo {
    margin: auto;
    display: flex;
  }

  .footer__links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap, 0.65rem);
  }

  .logo {
    width: 10rem;
  }

  /* social icons section style */

  .social-icons {
    gap: 0.8rem;
  }

  .insta,
  .twitter,
  .pinterest {
    color: var(--White);
    font-size: 1.3rem;
  }

  .fb {
    font-size: 1.3rem;
  }
}

@media (max-width: 48.5rem) {
  /* -----------------------------HEADER---------------------------- */
  .mob-nav-brand {
    display: none;
  }

  header {
    min-height: 100vh;
  }

  /* -----------------------------SLIDES---------------------------- */

  .slide-box__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 37.5rem) {
  :root {
    /* font-sizes */
    --fs-large: 2rem;
    --fs-medium: 1.5rem;
    --fs-xmedium: 0.8rem;
    /* --fs-small: 0.7rem; */
  }

  /* -----------------------------SLIDES---------------------------- */

  .btn-mobile {
    padding: 0.5rem 1.8rem;
  }
}

@media (max-width: 30rem) {
  :root {
    /* font-sizes */
    --fs-large: 2rem;
    --fs-medium: 1.8rem;
    --fs-small: 0.8rem;
  }

  .banner {
    padding: 1.2rem;
  }
  .content-box{
    width: 100%;
    padding: 0;
    padding-top:1.8rem;
  }

  /* -----------------------------FOOTER---------------------------- */

  .logo {
    width: 9rem;
  }
  .social-icons {
    gap: 0.7rem;
  }

  .insta,
  .twitter,
  .pinterest {
    color: var(--White);
    font-size: 1.2rem;
  }

  .fb {
    font-size: 1.2rem;
  }
  .links-list {
    gap: 1rem;
  }
}

@media (max-width: 25rem) {
  :root {
    /* font-sizes */
    --fs-large: 1.4rem;
    /* --fs-medium: 1.6rem; */
    --fs-small: 0.8rem;
  }

 

  /* -----------------------------FOOTER---------------------------- */

  .logo {
    width: 8rem;
  }

  .social-icons {
    gap: 0.5rem;
  }

  .insta,
  .twitter,
  .pinterest {
    color: var(--White);
    font-size: 1rem;
  }

  .fb {
    font-size: 1rem;
  }

  /* -----------------------------MOBILE---------------------------- */
  .btn-mobile {
    padding: 0.4rem 1rem;
  }
  .links-list{
    gap:0.4rem;
  }
}

/* ------------------- */
/*    Utility Class    */
/* ------------------- */

/* flex */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-c {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-ac {
  align-items: center;
}

.flex-jsa {
  justify-content: space-between;
}

.flex-jfs {
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

/* grid */
.grid {
  display: grid;
}

.grid-c {
  place-items: center;
}

/* block */
.block {
  display: block;
}

/* typography */

.ls-large {
  letter-spacing: var(--ls-large);
}
.ls-medium {
  letter-spacing: var(--ls-medium);
}
.ff-alata {
  font-family: var(--ff-alata);
}

.ff-josefins {
  font-family: var(--ff-josefins);
}

.uppercase {
  text-transform: uppercase;
}

.fs-large {
  font-size: var(--fs-large);
}


.fs-medium {
  font-size: var(--fs-medium);
}

.fs-xmedium {
  font-size: var(--fs-xmedium);
}

.fs-xsmall {
  font-size: var(--fs-xsmall);
}

.fw-300 {
  font-weight: var(--fw-bold);
}

.fw-400 {
  font-weight: var(--fw-bolder);
}

/* center */
.center {
  margin: auto;
}

.t-center {
  text-align: center;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bradius {
  border-radius: 1.5rem 0.2rem;
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* JS */
.disable-scroll {
  height: 100%;
  overflow: hidden;
}

/* >1440px */
@media (min-width: 90.1rem) {
  /* -----------------------------ABOUT--------------------------- */

  .second__page {
    display: flex;
    flex-direction: row;
  }

  .about .content-box {
    position: static;
  }

  /* -----------------------------SLIDES--------------------------- */

  .slide-box__desk {
    flex-direction: row;
  }

  .overlay-txt {
    position: absolute;
    transform: translateY(-80px);
    color: var(--White);
    padding-inline: 0.8rem;
    z-index: 1;
  }

  .mob-nav-brand {
    display: none;
  }
}
